<form method="POST" action="/new">
  <label for="author">
    Name
    <input name="author" type="text" required />
  </label>
  <label for="content">
    Message
    <input name="content" type="text" required />
  </label>
  <input type="submit" />
</form>
